<style>
    .password-section {
        height: 100vh;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    #login_form {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        gap: 45px;
    }
    input {
        display: flex;
        height: 48px;
        padding: 8px 12px 8px 16px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid #261622;
        width: 100%;
        background: transparent;
    }
    .password-field {
        width: 100%;
    }
    h1 {
        color: #261622;
        font-family: 'HafferXHSemibold', sans-serif;
        font-size: 34px;
        text-align: center;
        text-wrap: pretty;
        font-weight: 600;
        line-height: 104%;
        max-width: 1000px;
    }
    @media (max-width: 767px) {
        h1 {
            line-height: 120%;
            font-size: 19px;
        }
        #login_form {
            width: calc(100% - 36px);
            position: relative;
            gap: 20px;
        }
    }
</style>
{%- form 'storefront_password', class: 'password-form' -%}
    <h1>Welcome to AMNY, please enter the password to proceed</h1>
    <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
        <input
            type="password"
            name="password"
            id="Password"
            class="field__input"
            autocomplete="current-password"
            placeholder="Password"
        >
        {%- if form.errors -%}
            <div id="PasswordLoginForm-password-error" role="status">
                <span class="form__message">
                  Error - please try again
                </span>
            </div>
        {%- endif -%}
    </div>
    <button name="commit" class="pink-btn">
        {{ 'general.password_page.login_form_submit' | t }}
    </button>
{%- endform -%}


{% schema %}
{
  "name": "Password",
  "tag": "section",
  "class": "password-section"
}
{% endschema %}
